<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/814bf03a7c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesaj GA | Hesabım</title>
</head>

<body>
    <nav class="navbar2">
        <img class="ilogo" src="https://r.resimlink.com/g1DLbe9.png" alt="">
        <h1 class="logo">MESAJ GA</h1>
        <input type="checkbox" id="menuBtn">
        <label for="menuBtn" class="menuBtn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a class="etkin">Anasayfa</a></li>
            <li><a href="/iletisim">İletişim</a></li>
            <li><a class="dboxr" href="/profil">Profil</a></li>
            <li><a href="/iletisim" class="bg-danger dboxr">Çıkış Yap</a></li>
            <li class="dboxl">
                <label for="dbox">
                    <a style="text-transform: capitalize;" onclick="dbox()">
                        <img src="<%=user.photoURL%>" class="pr">
                        <%=user.displayName%>
                            <i class="fa-solid fa-chevron-down" id="abs"></i>
                    </a>
                </label>
            </li>
        </ul>
    </nav>
    <div class="bgs">
        <input type="checkbox" id="dbox">
        <ul class="dbox">
            <a href="/profil">
                <li class="pro">Profil</li>
            </a>
            <a href="/cikis-yap">
                <li class="cyb">Çıkış Yap</li>
            </a>
        </ul>
        <div class="hesap" id="hesap">
            <div id="hesapp">
                <% mesajlar.forEach(mesaj=> { %>
                    <div class="clearfix">
                        <% if(mesaj.goid==user.uid){ %>
                            <h3 class="mesajb">
                                <%=mesaj.icerik%>
                            </h3>
                            <% }else{ %>
                                <h3 class="mesaj">
                                    <%=mesaj.icerik%>
                                </h3>
                                <% } %>
                                    <br>
                    </div>
                    <% }) %>
            </div>
            <form id="mg" class="mg">
                <input id="mesaji" autocomplete="off" type="text" placeholder="Mesajınızı girin . . .">
                <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
        </div>
        <div class="kisi">
            <% users.forEach(users2=> { %>
                <% if(users2.uid !=user.uid){ %>
                    <a href="/mesaj/<%=users2.uid%>">
                        <div>
                            <img src="<%=users2.purl%>" alt="">
                            <h3>
                                <%=users2.adi%>
                            </h3>
                        </div>
                        <hr>
                    </a>
                    <% } %>
                        <% }) %>
        </div>
    </div>
    <script src="https://mesajg.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="../index.js"></script>
    <script>
        let socket = io("https://mesajg.herokuapp.com");
        const list = document.querySelector('.list')
        var kac = 0
        console.log('<%=user.uid%>');
        var objDiv = document.getElementById("hesapp");
        objDiv.scrollTop = objDiv.scrollHeight;
        var form2 = document.getElementById('mg')
        var input = document.getElementById('mesaji')
        form2.addEventListener('submit', function (e) {
            e.preventDefault();
            if (input.value) {
                socket.emit('chat message', input.value);
                input.value = '';
            }
        });
        socket.on("message", (mesaj) => {
            var bodyy = document.querySelector('#hesapp')
            console.log(mesaj);
            var boih = bodyy.innerHTML
            html = boih
            if (mesaj.goid == '<%=user.uid%>') {
                html = html + `<div class="clearfix"><h3 class="mesajb">${mesaj.icerik}</h3><br></div>`
            } else {
                html = html + `<div class="clearfix"><h3 class="mesaj">${mesaj.icerik}</h3><br></div>`
            }
            bodyy.innerHTML = html
            var objDiv = document.getElementById("hesapp");
            objDiv.scrollTop = objDiv.scrollHeight;
        });
    </script>
</body>

</html>
